/* Googel Fonts  */
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700"); */

.flat-color-1 {
  color: #000000;
}

.flat-color-2 {
  color: #000000;
}

.flat-color-3 {
  color: #000000;
}

.flat-color-4 {
  color: #000000;
}

.br-0 {
  border: none !important;
}

.black-rgba {
  background-color: rgba(74, 99, 17, 0.15) !important;
}

body {
  display: table;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background: #9bbde7;
  width: 100%;
}

p {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #878787;
}

.App {
  height: 100vh;
  overflow: auto;
}

.content {
  margin: 20px;
}

.main-card {
  min-height: 94vh;
}

.mt-4 {
  margin-top: 16px;
}

.ml-2 {
  margin-left: 8px;
}

.list {
  height: 42vh;
  overflow-y: auto;
}

.cursor-pointer {
  cursor: pointer;
}

.textarea-title {
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textarea-title > p {
  color: white;
}

.border-top-radius-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.press-btn > span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.add-btn-box {
  display: flex;
  justify-content: end;
  align-items: center;
}

.action-box > .ant-form-item-row,
.action-box > .ant-form-item-row > .ant-form-item-control {
  justify-content: center;
  align-items: center;
}

.ant-descriptions {
  overflow-x: scroll;
}

.ant-descriptions-view {
  width: calc(100vw - 131px);
  overflow-x: scroll;
}
/*---Media Query---*/

table {
  width: 100%;
  text-align: center;
}

.custom-table {
  overflow: auto;
}

.custom-table-body {
  border: 1px solid #eee;
}

.custom-table-header th {
  padding: 8px 16px;
  background-color: #fafafa;
}

table td {
  padding: 8px 16px;
}

.td-description {
  text-align: left;
}

@media (max-width: 992px) {
  .list {
    height: 20vh;
  }
  .product-table {
    overflow-x: auto;
  }
}

@media (max-width: 768px) {
  .custom-table {
    width: calc(100vw - 135px);
    overflow: auto;
  }
}

@media (max-width: 500px) {
  .product-table {
    max-width: calc(100vw - 135px);
    overflow-x: auto;
  }
}
