.header-info {
  display: flex;
  justify-content: space-between;
}

.logout-btn {
  background: white;
  color: #111;
  max-width: 100px;
  padding: 8px 10px;
  box-shadow: none;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 1.5s;
  width: 85%;
  outline: none;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 20px;
  border-radius: 15px;
  font-size: 16px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  margin-top: 5px;
}

.logout-btn:hover {
  background: #9bbde7;
  color: #fff;
  transition: 0.5s;
}

.logout-btn::placeholder {
  color: #fff;
}
